/* General styles */
body {
  font-family: "Inter", sans-serif;
  background:url(img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
main {
  max-width: 100%;
  margin: auto;
  background-color: rgba(95, 158, 160,.7);
  border-radius:5px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
}
section {
  
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
  
}
/* SCOREBOARD SECTION */
aside {
  position:absolute;
  right:10px;
  top:5px;
  font-size:11px;
}
#scoreboard p{
  border-bottom: 1px dotted black;
}
/*REGISTER SECTION*/
#register {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 6vw;
}

/* GAME SECTION */
#game {
  display: none;
  width: 100%;
  height:100%;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
}
#hangDivImg {
  display:flex;
  align-items: center;
  justify-content: center;
  grid-row: 1 / span 1;
  
}
#hangImg{
  width:40%;
}
/* word section */
#word {
  grid-row: 2 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.letter-container {
  display: flex;
  width:60%;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: nowrap;
}
.letter {
  font-size:25px;
  color:red;
  border-bottom: 10px solid black;
  width: 100%;
  text-align: center;
}
/* Keyboard section */
#keyboard {
  display: flex;
  flex-wrap: wrap;
  grid-row: 7 / span 1;
}
.keyBtn{
  border-radius:5px;
  background-color:#b3ca65;
  padding: 1em;
  box-shadow:inset 0.1em -0.2em #8BA949;
  margin:5px 5px;
}
/* Credits section */
#credits {
  display: none;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  main {
    width: 60%;
    height:800px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15% 70% 15%;
  }
  section {
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
  }
  aside {
    background-color: cadetblue;
    height: 35%;
    padding:10px;
    position:absolute;
    top:20px;
    right:20px;
  }
  h1 {
    font-size: 3vw;
  }
  /* GAME SECTION */
  #game {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4,1fr);
  }
  #hangDivImg {
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;
    
  }
  #hangImg{
    width:100%;
    
  }
  #word {
    grid-column: 2 / span 2;
    grid-row: 1 / span 3;
    justify-content: space-around;
    padding: 5%;
  }
  #keyboard {
    grid-row: 4 / span 1;
    grid-column: 1 / span 3;
  }
  .keyBtn {
    padding: 2em;
    margin:10px;
    border-radius:10px;
  }
}
